.pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.pokemon-item {
    width: 380px;
    text-align: center;
    box-shadow: 0 0 10px #c8c8c8;
    margin-top: 25px;
    /* margin-bottom: 25px; */
}